/* ShineEffect.css */
.shine-button {
    position: relative;
    overflow: hidden;
    display: inline-block;
    color: #fff;
    text-decoration: none;
  }
  
  .shine-button::before {
    content: '';
    position: absolute;
    top: -100%;
    left: -200%;
    width: 150%;
    height: 150%;
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.8) 0%,
      rgba(255, 255, 255, 0.3) 50%,
      rgba(255, 255, 255, 0.8) 100%
    );
    transform: rotate(30deg);
    transition: transform 1.3s;
  }
  
  .shine-button:hover::before {
    transform: translateX(200%) translateY(-50%) rotate(30deg);
  }
  .blur-background {
    backdrop-filter: blur(3px);
  }


  .shine-card {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  
  .shine-card::before {
    content: '';
    position: absolute;
    top: 60%;
    left: -200%;
    width: 150%;
    height: 150%;
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.8) 0%,
      rgba(255, 255, 255, 0.3) 50%,
      rgba(255, 255, 255, 0.8) 100%
    );
    transform: rotate(30deg);
    transition: transform 0.5s;
    animation: shine 5s infinite linear;
  }
  
  @keyframes shine {
    0% {
      transform: rotate(10deg) translateX(-200%) translateY(-50%);
    }
    100% {
      transform: translateX(200%) translateY(-50%);
    }
  }